.invisible{
	visibility:collapse;
}

#button_board_player_info{
	width:40px;
	height:40px;
	horizontal-align:right;
	vertical-align:top;
	margin-top:985px;
	/*background-color: #000;*/
	background-image:url('file://{resources}/images/custom_game/cross.png');
	background-size: 100% 100%;
	transition-property:transform;
    transition-duration:0.3s;
	transform: rotateZ(0deg);
}
#board_player_info{
	width:420px;
	height:880px;
	horizontal-align:right;
	vertical-align:top;
	margin-top:100px;
	padding-top:30px;
	z-index:600;
	/* background-color:red; */
	/* flow-children:down; */
	position: 250px 0px 0px;
	transition-property:position,opacity;
    transition-duration:0.3s;
}
#board_player_info.unwrap{
	position: -10px 0px 0px;
}

#board_player_title{
	height:30px;
	width:100%;
	margin-top:-20px;
}
#board_player_title Label{
	font-size:18px;
    color:#888;
    width:100px;
}

#player_board_title_lineup{
	margin-left:120px;
}
#player_board_title_buff{
	margin-left:250px;
}
#player_board_title_gold{
	margin-left:405px;
}


.DotaAvatar{
	height:70px;
	width:70px;
	border-radius:0px;
	background-color:#222;
	margin-left:0px;
	margin-top:0px;
	z-index:5;
}

.PlayerInfoBase{
	width:250px;
	height:40px;
	margin-top:0px;
    
}

.PlayerInfoPanelOuter{
	horizontal-align:right; 
	width:1640px;
    height:110px;
    z-index:10000;
    margin-bottom:5px;
    transition-property:position,opacity;
    transition-duration:0.5s;
/*    background-image: url("s2r://panorama/images/custom_game/panel_details_png.vtex");
	background-size: 100% 100%;*/

    position: 0px -500px 0px;
    /*background-color: rgba(0,0,0,0.7);*/
    /*opacity:0;*/
}

.PlayerBadge{

	/* background-image:url("file://{images}/custom_game/gou.png");  */
	height:80px;
	width:80px;
	/* margin-top:5px; */
	/* z-index:10; */
}
.OpenDoorMark{
	vertical-align:center;
	background-image:url("file://{images}/custom_game/fight.png"); 
	
	height:40px;
	width:40px;
	margin-left:50px;
	/* z-index:10; */
}


.PlayerName{
    width:250px;
    height:25px;
    margin-top:5px;
    /*color:white;*/
    padding-left:5px;
}

.PlayerName Label{
    font-size:22px;
}


.PlayerBattle{
	width:40px;
	height:40px;
	background-image:url("s2r://panorama/images/custom_game/battle2_png.vtex");
	background-size: 100% 100%;
	horizontal-align:left; 
	margin-left:80px;
	margin-top:35px;
	z-index:900;
}
.PlayerInfoPanelInner{
	horizontal-align:left; 
	margin-top:5px;
	margin-left:100px;
    width:280px;
    height:100px;
    /*flow-children: down;*/
    text-align:left;
    /*background-image:url("s2r://panorama/images/custom_game/panel_bg_png.vtex");*/
    /*background-image:url("s2r://panorama/images/custom_game/vip/player_board_02_png.vtex");*/
    /*background-size: 500% 140%;*/
    border-top:1px solid #bbbbbb44;
/*    border-right:1px solid #00000088;
    background-color: rgba(0,0,0,0.5);*/
    z-index:10;
}

.PlayerInfoLine{
    width:300px;
    height:70px;
    flow-children: right;
    margin-top:0px;
    margin-left:0px;
    /*background-image:url("s2r://panorama/images/custom_game/vip/player_board_00_png.vtex");
    background-size: 100% 100%;*/
}

.PlayerInfoLine2{
    width:190px;
    height:20px;
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #17200d  ), color-stop( 0.2, #222e13 ), color-stop( .5, #1e2911), to( #17200d) );
    margin-top:70px;
    margin-left:30px;
}
.PlayerInfoLine3{
    width:190px;
    height:20px;
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #101932 ), color-stop( 0.2, #172447 ), color-stop( .5, #162244), to( #101932 ) );
    margin-top:90px;
    margin-left:30px;
}
.PlayerInfoLine2 .player_hp{
	/*background-color:gradient( linear, 0% 0%, 0% 100%, from( #5d2525  ), color-stop( 0.2, #a53939 ), color-stop( .5, #903030), to( #5d2525) );*/
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #425d25  ), color-stop( 0.2, #5BA539 ), color-stop( .5, #4D9030), to( #425d25) );
    width:220px;
    height:20px;
    margin-top:0px;
    border-radius: 0px; 
}
.PlayerInfoLine3 .player_mp{
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #2b4287 ), color-stop( 0.2, #4165ce ), color-stop( .5, #4a73ea), to( #2b4287 ) )
    width:220px;
    height:10px;
    margin-top:0px;
    border-radius: 0px; 
}
.PlayerInfoLine2 .text_player_hp{
    color:#fff;
    margin-top:-2px;
    margin-right:5px;
    horizontal-align:right;
    font-weight: bold;
}

.TextPlayerGold{
    color:#fff;
    margin-top:82px;
    margin-left:35px;
    font-size:16px;
}


.PlayerLine11{
	width:210px;
	height:40px;
	margin-top:0px;
}

.PicPlayerHero{
    margin-top:8px;
    margin-left:8px;
    width:30px;
    height:30px;
    border-radius:0px;
    background-size:100% 100%;
    border-color: #9999cc;
    /*background-image:url("file://{images}/custom_game/m101.png");*/
    background-color: #222;
    box-shadow: fill #00000066 -2px -2px 4px 4px;
}
.PicPlayerLevel{
    margin-top:9px;
    margin-left:50px;
    width:30px;
    height:30px;
    background-image:url("file://{images}/custom_game/cross.png");
    background-size: 100% 100%;
}
.TextPlayerLevel{
	margin-top:9px;
	margin-left:80px;
	vertical-align: center;
	color:#888;
	font-size:16px;
}

.PlayerInfoHp{
	/*background-color:gradient( linear, 0% 0%, 0% 100%, from( #5d2525  ), color-stop( 0.2, #a53939 ), color-stop( .5, #903030), to( #5d2525) );*/
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #425d25  ), color-stop( 0.2, #5BA539 ), color-stop( .5, #4D9030), to( #425d25) );
    width:220px;
    height:20px;
    margin-top:0px;
    border-radius: 0px; 
}

.TextPlayerHp{
    color:#fff;
    margin-top:-2px;
    margin-right:5px;
    horizontal-align:right;
    font-weight: bold;
}

.PlayerInfoLevel{
	width:30px;
	height:30px;
	background-color: #000;
	border-radius: 0px;
	margin-top:70px;
	margin-left:0px;
	/*border:1px solid #333;*/
	/*background-image:url("s2r://panorama/images/custom_game/panel_bg_png.vtex");
	background-size: 100% 100%;*/
}

.PlayerInfoLevel Label{
	text-shadow:0px 0px 3px 3.7 #EC780E24;
	color:#E7D291;
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	margin-top:3px;
	width:100%;
	font-size:18px;
}

